@page "/claims"
@attribute [Authorize]

@using Microsoft.Identity.Web
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>This page will show the claims that you have</h1>

@if (claims.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        claims = user.Claims;
    }
}