@page "/"

@using Microsoft.Identity.Web
@using Core
@using System.Security.Claims
@inject StudentRemote StudentRemote
@inject SupervisorRemote SupervisorRemote
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>@message</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    private string message;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await RegisterUserToDB(authState.User);

    }


    protected async Task RegisterUserToDB(ClaimsPrincipal user)
    {
        if (user.Identity?.IsAuthenticated == true)
        {
            message = $"Hello, {user.Identity.Name}, you are logged in :)";
            if (user.Claims.Where(v => v.Value == "Student").FirstOrDefault() != null)
            {
                try
                {
                    await StudentRemote.GetStudent(user.GetObjectId());
                }
                catch (System.Net.Http.HttpRequestException)
                {
                    await StudentRemote.CreateStudent(new StudentCreateDTO
                    {
                        Id = user.GetObjectId(),
                        Name = user.GetDisplayName()
                    });
                }
            }
            if (user.Claims.Where(v => v.Value == "Supervisor").FirstOrDefault() != null)
            {
                try
                {
                    await SupervisorRemote.GetSupervisor(user.GetObjectId());
                }
                catch (System.Net.Http.HttpRequestException)
                {
                    await SupervisorRemote.CreateSupervisor(new SupervisorCreateDTO
                    {
                        Id = user.GetObjectId(),
                        Name = user.GetDisplayName()
                    });
                }
            }
        }
        else
        {
            message = "You are not logged in";
        }
    }
}