.active {
    background: #f6f7fb !important;
    border-color: #f6f7fb !important;
    color: #000 !important;
    font-size: 12px;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    width: 650px;
  }

.inputs {
    position: relative;
    padding: 2rem;
}

.form-control {
    text-indent: 15px;
    border: none;
    height: 45px;
    border-radius: 0px;
    border-bottom: 1px solid #eee
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid blue;
}

.form-control:focus {
    color: blue;
}

.content-text {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    background-color: #e2f5fa;
    color: #6ecce6;
    font-weight: 700;
} 

.tag-container
{
    max-width: inherit;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
   
    border-style: solid;
    border-radius: 1rem;
    border-top: none;
    border-color: lightgrey;
    border-bottom: none;
    border-color: gray;
    padding: 2rem;
    margin-bottom: 2rem;
}

.grid-tag {
    text-align: center;
    margin-bottom: 2%;
  }

.RequestView {
    border: lightgrey;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}