body{
	color:#fff;
}

.right-side-container{
	text-align: center;
	background-color: rgba(0,0,0,.3);
    width:30%;
	float:left;
	height:50rem;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    margin:0;
    padding: 2rem;	
    border-radius: 2rem;
	overflow: hidden;
}
.left-side-container{
	width:70%;
	float:left;
	height:50rem;
	margin:0;
	padding:0;
    box-sizing: border-box;
	padding-right: 3.5rem;
}

.desciption-section {
	height: fit-content;
	width: fit-content;
	padding: 2rem;
	font-size: large;
}

h1 {
	font-weight: bold;
}

.apply-section {
	border-top: solid 1px #ff7400;
	padding: 2rem;
}

.edit-button {
	background-color: #ff7400;
	border-color: white;
}
.TagsBox {
	list-style: none;
	border-top: solid 1px #000000;
}