.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  width: 650px;
}

#formGroupExampleInput2 {
  resize: none;
}

.successBtn
{
   background-color: #40DD7F; 
   transition-duration: 0.4s;
   border-radius: 1000px;
   width: 30%;
}

.successBtn:hover {
  background-color: #25a244;
}

.form-control {
  background-color: lightgrey;
}

#DefaultText {
  color: lightgrey;
}

#FormControlSupervisor {
  width: 40%;
}

#newTags {
  margin-top: 10px;
}

#newtagfieldbutton  {
  float: left;
  margin-left: 10px;
}

#newtagfield {
  float: left;
  width: 60%;
  margin-right: 10px;
}

.Buttons
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}