.searchFieldDiv
{
    display: flex; 
    justify-content:center; 
}

.search-field 
{
    padding-top: 2rem;
}

.TagsMainView
{
    display: flex;
    justify-content: center;
}

.tags
{
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 5px;
}

.MainProjectView
{
    display: flex;
    justify-content: center;
}

.ProjectView
{
    background-color: lightgray;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.ProjectTitleView 
{
    display: flex;
    justify-content: left;
    
}

.ProjectTitle 
{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
}

.ProjectDescriptionView 
{
    display: flex;
    justify-content: center;

}

.ProjectDescriptionBox 
{
    width: 520px;
    height: 70px;
    border: 3px solid black;
    display: flex;
    justify-content: left;
    
}

.ProjectDescription 
{
    margin-left: 5px;
}

.LastRowOuter 
{
    display: flex;
    justify-content: center;
    
}

.LastRowInner 
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 520px;
    height: 70px;

}

.ReadMoreButton 
{
    border-radius: 15px;
    background-color: orange;
    color: white;
    margin-bottom: 10px;
}

.MainPageButtonsView
{
    display: flex; 
    justify-content: center;
}

.pageButtonsDiv
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3px;
    width: 600px;
    height: 38px;
}

