@using Infrastructure
@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        @* TODO: Tjek hvis student eller supervisor *@
        @if (user.Firstname == "Ala")
        {
            <NavMenuStudent />        
        } else
        {
            <NavMenuSupervisor />   
        }

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code
{
    User user = new User()
    {
        Firstname = "Alaa"
    };
}