.nav-link:hover {
    cursor: pointer;
}

.nav-link {
    font-size: larger;
}

a {
    color: #808080;
}

.navbar-brand {
    padding-left: 1.5rem;
    font-size: x-large;
    font-style: italic;
    padding-top: 1rem; 
}

.nav_bar_home {
    width: 250%;
    filter: invert(50%);
}

.nav-profile-img {
    width: 3rem;
    filter: invert(50%);
}

.nav-profile {
    padding-top: 0rem;
}

.nav-bar-right-side {
    justify-content: right;
}

.nav {
    background-image: linear-gradient(to right, #102060, #3A0647);
}

.navbar {
    border-bottom: solid;
    height: 7rem;
}