<nav class="navbar navbar-expand-lg nav" style="color: #999999;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar2" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="active">
                <a class="nav-link nav-icon" href="#">
                    <img class="nav_bar_home" src="Resources\house-door-fill.svg" alt="logo">
                </a>
            </li>
            <a class="navbar-brand" href="#">Iphone4</a>
        </ul>
        <div class="nav-bar-right-side">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" >
                    <NavLink class="nav-link nav-bar-item" href="createProject" Match="NavLinkMatch.All">
                        Create project
                    </NavLink>
                </li>
                <li class="nav-item" >
                    <NavLink class="nav-link nav-bar-item" href="MyProjectsSupervisor" Match="NavLinkMatch.All">
                        My projects
                    </NavLink>
                </li>
                <li class="nav-item" >
                    <NavLink class="nav-link nav-bar-item" href="" Match="NavLinkMatch.All">
                        Project application
                    </NavLink>
                </li>
                <li class="nav-item" >
                    <NavLink class="nav-link nav-bar-item" href="Requests" Match="NavLinkMatch.All">
                        Requests
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link nav-icon nav-profile" href="ProfilePage" Match="NavLinkMatch.All">
                        <img class="nav-profile-img" src="Resources\profile-icon.svg">
                    </NavLink>
                </li>
                <li class="nav-item" >
                    <a class="nav-link nav-bar-item">
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>